.login, .recoverPassword, .register{
  background-image: url("/assets/banner-background-login.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &__container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    gap: 1rem;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;

    &-obs{
      font-size: .85rem;
      font-weight: bolder;
      color: #ff7cb1;
      display: none;
    }

    &-title{
      font-size: 2rem;
      color: rgb(255, 45, 90);
    }

    &-subtitle{
      font-size: .8rem;
      color: #d299ff;
    }

    &-form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      margin: 0 auto;
      width: 92%;

      &-input{
        width: 100%;
        padding: 0.75rem 1rem;
        border-radius: 50px;
        background: none;
        border: 2px solid #ff7cb1;
        font-size: .95rem;
        color: rgb(255, 45, 90);
      }

      &-btn{
        padding: 1rem 2rem;
        border-radius: 50px;
        min-width: 120px;
        cursor: pointer;
        transition: .5s;
      }
    }

    &-btn{
      background: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .5rem;
      cursor: pointer;
      transition: .5s;
      padding-bottom: .2rem;
      color: rgb(255, 45, 90);

      &:hover{
        color: rgb(43, 0, 82);
        transition: .5s;
        //border-bottom: 2px solid #8900ff;
      }
    }

    &-btnInfoRules{
      background: #6b00ff;
      color: white;
      cursor: pointer;
      transition: 1s;
      border-radius: 50px;

      &:hover{
        background: #ff0068;
        color: white;
        transition: 1s;
      }
    }

    &-btnRegister{
      background: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .5rem;
      font-size: .85rem;
      color: #ffffff;
      cursor: pointer;
      transition: 1s;
      background: rgb(255, 45, 90);
      padding: .75rem 1.5rem;
      border-radius: 50px;

      &:hover{
        background: rgb(155, 0, 44);
        transition: 1s;
      }
    }

    &-rules{
      color: rgb(255, 45, 90);
      font-size: .8rem;
    }
  }

  &__error{
    color: #ffacac;
    font-size: .7rem;
  }

}

@media (max-width: 500px) {
  .login, .recoverPassword, .register{

    &__container{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 300px;
      gap: 1rem;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(150px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 50px;

      &-form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
        width: 92%;

        &-input{
          width: 100%;
          padding: 0.75rem 1rem;
          border-radius: 50px;
          background: none;
          border: 2px solid #ff7cb1;
          font-size: .8rem;
          color: rgb(255, 45, 90);
        }

        &-btn{
          padding: 1rem 2rem;
          border-radius: 50px;
          min-width: 120px;
          cursor: pointer;
          transition: .5s;
        }
      }

      &-obs{
        font-size: .7rem;
        font-weight: bolder;
        color: #91003b;
        display: flex;
      }
    }
  }
}
::placeholder {
  color: #ff7cb1;
  opacity: 1; /* para garantir que a cor seja aplicada completamente */
}
